@charset "UTF-8";

*{
    background-color: #ffffff;
    color: #333333;
    padding: 0;
    margin: 0 auto;
    list-style: none;
}

a{
    text-decoration: none;
}

img{
    max-width: 100%;
}

.container{
    width: 100%;
    height: 920px;
    /* background-color: yellowgreen; */
}

.modal{
    width: 100%;
    height: 100%;
    background-color: black;
    opacity: 0.5;
    position: absolute;
    z-index: 100;
}

.white{
    overflow: hidden;
    border-radius: 15px;
    width: 500px;
    height: 300px;
    background-color: #ffffff;
    position: absolute;
    top: 50%;
    z-index: 1000;
    left: 50%;
    transform: translate(-50%, -50%);
}

.flus{
    display: none;
}
.box{
    padding: 20px;
    /* position: relative; */
}

.white span{
    margin: 15px 0px;
    font-weight: bold;
    font-size: 20px;
}

.white p{
    font-size: 18px;
}


#btn{
    padding: 10px 20px;
    border-radius: 5px;
    position: absolute;
    right: 10px;
    bottom: 20px;
}

.head{
    width: 200px;
    height: 800px;
    float: left;
    /* background-color: yellow; */
}

.logoBox{
    width: 200px;
    height: 100px;
    align-items: center;
    
    /* background-color: yellowgreen; */
    display: flex;
}

.logoBox img{
    width: 200px;
    height: 40px;

}

.mainMenu{
    margin-top: 20px;
}

.mainMenu>li>a{
    font-size: 20px;
    font-weight: bold;
    width: 170px;
    padding-left: 10px;
    line-height: 70px;
    height: 70px;
    display: block;
    background-color: rgb(167, 95, 234);
}

.mainMenu>li>a:hover, .mainMenu>li>a:focus {
    background-color: rgb(185, 59, 156);
}

.subMenu{
    display: none;
    width: calc(100% - 190px);
    position: absolute;
    height: 70px;
    margin-left: 190px;
    margin-top: -70px;
    background-color: rgb(192, 125, 218);
    z-index: 10;
}

.subMenu>li>a{
    font-size: 18px;
    background-color: rgb(192, 125, 218);
    width: 160px;
    line-height: 50px;
    height: 50px;
    /* display: block; */
    margin: 10px;
    float: left;
    text-align: center;
}

.subMenu>li>a:hover{
    background-color: #333333;
    color: #ffffff;
}






.slide{
    width: calc(100% - 200px);
    height: 400px;
    background-color: black;
    float: right;
}

#imgs{
    width: 100%;
    height: 400px;
    position: relative;
    display: flex;
    background-color: black;
}

#imgs li{
    position: absolute;
    display: flex;
    height: 400px;
    width: 100%;
    /* justify-content: center; */
    align-items: center;
    background-color: black;
}

#imgs li a{
    position: relative;
}

#imgs span{
    position: absolute;
    bottom: 0;
    right: 0;
    padding: 10px 20px;
    opacity: 0.8;
    background-color: #333333;
    color: white;
}

#imgs img{
    display: flex;
    height: 400px;
}

.content{
    width: calc(100% - 200px);
    height: 400px;
    background-color: turquoise;
    float: right;
}

.foot{
    width: 100%;
    height: 120px;
    background-color: rgb(189, 189, 189);
    float: left;
}

.c1{
    width: 100%;
    height: 150px;
    /* background-color: yellowgreen; */
    display: flex;
    align-items: center;
    text-align: center;
    font-size: 20px;
}

.c2{
    width: 50%;
    height: 250px;
    float: left;
    /* background-color: #333333; */
    position: relative;
}
.box{
    width: 90%;
}
.c2>.box>span{
    padding: 10px 20px;
    display: block;
    width: 80px;
    text-align: center;
    border-radius: 10px 10px 0 0;
    float: left;
    margin: auto;
    margin-top: -20px;
    background-color: rgb(63, 238, 220);
}

.c2>ul{
    margin-top: 3px;
    border-top: 3px solid  rgb(63, 238, 220);
    width: 90%;
    height: 40px;
 
}

.c3{

    display: flex;
    width: 100%;
}

.c3 a{
    width: calc(90% / 3);
}

.c3 p{
   /* background-color: #333333; */
    text-align: center;
    margin-top: 20px;
}

.c3 img{

   margin-top: 30px;
}

.c2>ul>a{

    width: 100%;
    line-height: 40px;
    height: 40px;
    /* display: flex; */
 
 
}

.c2>ul>a>li{
    display: flex;
    border-bottom: solid 1px;
    width: 100%;
    padding: 3px 0px;
}

.c2>ul>a>li>span{
    /* background-color: #333333; */
    display: block;

}